<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <title><%=pageTitle%></title>
            <main>
                <% if (Object.keys(data).length > 0) { %>
                    <div class="grid">
                            <article class="title-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= data["title"] %>
                                    </h1>
                                </header>
                                <div class="title-isbn">
                                    <h2 class="product__price">
                                        <%= data["isbn"] %>
                                    </h2>
                                    <p class="data_desc">
                                        <%= data["authors"] %>
                                    </p>
                                    <p class="data_desc">
                                        <%= data["description"] %>
                                    </p>
                                    <p class="data_desc">
                                        <%= data["publishedAt"] %>
                                    </p>
                                  
                                </div>
                            </article>
                    </div>
                    <% } else { %>
                        <h1>No Data Found!</h1>
                        <% } %>
            </main>
            <%- include('./includes/end.ejs') %>
